doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href=("/assets/styles.css"))
    body 
        div.menu
            div.menu__top TOP
            div.menu__down DOWN
        div.blank aa
        div.line
            div.line__sub a
            div.line__sub a
            div.line__sub a
            div.line__sub a
            div.line__sub a
        div.bottom
            div.bottom__outside a
            div.bottom__inside
                div.bottom__inside__top a
                div.bottom__inside__down a
            div.bottom__inside
                div.bottom__inside__top
                div.bottom__inside__down
                    div.bottom__inside__down__up a
                    div.bottom__inside__down__bottom a
            div.bottom__outside a